@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');

body {
  margin: 0;
  padding: 0;
}

.header {
  width: 100vw;
  height: 92vh;
}

.particles {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.header #personalPic {
  width: 70vh;
  height: 70vh;
  margin: 11vh;
  border-radius: 50%;
}

.header .basicInfo {
  margin-left: 45vw;
  margin-top: -70vh;
  text-align: center;
  font-family: 'Teko', sans-serif;
}

.header .basicInfo h1 {
  font-size: 17vh;
}

.header .basicInfo h3 {
  font-size: 5vh;
  margin-top: -3vh;
}
