@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css?family=Livvic&display=swap');

body {
  margin: 0;
  padding: 0;
}

.header {
  width: 100vw;
  height: 100vh;
  font-family: 'Teko', sans-serif;
}

.section {
  width: 100vw;
  height: 92vh;
  font-family: 'Teko', sans-serif;
  position: relative;
}

.section p {
  font-size: 3vh;
  font-family: 'Livvic', sans-serif;
}

.inverted {
  background-color: #47AEE3;
  color: white;
}

.leftCol {
  display: inline-block;
  width: 40vw;
}

.rightCol {
  display: inline;
}

.particles {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

#personalPic {
  width: 70vh;
  height: 70vh;
  margin-left: 11vh;
  margin-top: 19vh;
  border-radius: 50%;
}

.basicInfo {
  position: absolute;
  vertical-align: middle;
  top: 50vh;
  transform: translate(0%, -50%);
  margin-left: 50vw;
  text-align: center;
}

.basicInfo h1 {
  font-size: 17vh;
}

.basicInfo h3 {
  font-size: 5vh;
  margin-top: -3vh;
}

.aboutMe {
  padding-left: 3vh;
}

.aboutMe h1 {
  font-size: 10vh;
  padding-top: 3vh;
}

#aboutMePic {
  float: right;
  width: 46vw;
  margin-right: 7vw;
}
