@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css?family=Livvic&display=swap');

.page {
  margin: 8vh;
  margin-top: 10vh;
}

.pageTitle {
  font-family: 'Teko', sans-serif;
  font-size: 7vw;
}

.card {
  font-family: 'Livvic', sans-serif;
}

.cardHeader {
  font-weight: bold;
  font-size: 125%;
}
