@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css?family=Livvic&display=swap');

.page {
  margin-right: 8vh;
  margin-left: 8vh;
  margin-top: 10vh;
  min-height: 100vh;
  position: relative;
}

.pageTitle {
  font-family: 'Teko', sans-serif;
  font-size: 7vw;
}

.card {
  font-family: 'Livvic', sans-serif;
}

.cardText {
  font-size: 1.3vw;
}

.cardHeader {
  font-weight: bold;
  font-size: 125%;
}

footer {
  position: absolute;
  font-family: 'Teko', sans-serif;
  font-size: 1.5vw;
  text-align: "center";
  bottom: -5vh;
}
